.About-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    padding: 4rem 0rem;
    gap: 2rem;
}
.van-img{
    width: 80vw;
}
.About-us-Info{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.About-us-Info > h2{
    font-family: 'Crimsom Text';
    font-weight: 400;
    font-size: 3rem;
    color: black;
    padding: 3rem 0rem;
}
.Services{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.Service-img{
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.Services > div{
    display: flex;
    flex-direction: column;
    gap: .4rem;
}
.Services h3{
    font-family: 'Crimsom Text';
    font-weight: 400;
    font-size: 2rem;
    color: black;
}
.Services p{
    font-size: 1.5rem;
}

@media (min-width: 768px){
    .About-us{
        flex-direction: row;
        gap: 4rem;
    }
    .van-img{
        width: 45vw;
    }
    .About-us-Info > h2{
        font-size: 4rem;
    }
    .Services h3{
        font-size: 2.5rem;
    }
}